.ap{
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: fit-content;
}
button{
    background-color: red;
    border-radius: 15%;
    
    color: white;
    padding: 5px 15px;
    border: 2px solid black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
  
button:hover {
    background-color: #b08700b4; 
    color: white;
  }
  