body {
    width: auto;
    color: black;
    font-family: "montserrat", arial, helvetica, sans-serif;
}



.title{
    background-color: rgb(6, 6, 6, .5);
    font-size: 1em;
    font-weight:400;
    font-family: sans-serif;
}



.container {
    display: grid;
    grid-auto-flow: row;
    gap: 1.5em;
    justify-items: center;
    padding: 10px;
    filter: none;
    
}

/* parent of .face and .info */
.player-card {

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: minmax(200px, 350px) 20%;
    grid-template-areas: 
    "face info"
    "expand expand";
   
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;    
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      );
    color: #ffffff;
   
}

/* parent of #portrait and #name */
.face {
   grid-column-start: 1;
   grid-row-start: 1;
   grid-column-end: 1;
   grid-row-end: 2;  
   grid-area: face;
   border-radius: 10px;
   margin-top: 10px;
   margin-left: 25px;
   margin-right: 5px;
   margin-bottom: 15px;
   cursor: pointer;

}

.image-container {
    width: 100%;
    background-color: #ffffff95;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
}

#portrait {
    width: 95%;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    object-fit: cover;
}

.name {
    font-size: 2em;
    font-weight:500;
    letter-spacing: 0.03em;
    /* justify-self: center;
    display: inline-block; */
    text-align: center;
}

.info {
    grid-column-start: 2;  
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
    grid-area: info;
    cursor: pointer;
    padding-top: 20px;
    margin-left: 10%;
    gap: 1em;
}

.categories {
    justify-self: center;
}

/* .icons {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
     grid-area: icons;   
} */

.expanded-container {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 2;
    grid-row-end: 2;
    grid-area: expand;
    margin-bottom: 5px;
}

.toggleDetails {
    margin-top: 10px;
    margin-left: 5%;
    margin-bottom: 5px;
    width: 90%;
    background-color: white;
    border: 2px solid #fff;
    border-radius: 10px;
   background-color: transparent;
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;

   /* text-shadow: rgba(0,0,0,.4) 0 1px 0; */
   color: white;
   font-size: 1.25em;
   font-weight: 500;
   font-family: "Montserrat,", Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;

}
button:hover {
   border-top-color: #28597a;
   background: #275675;
   color: #ccc;
   }
button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
    
.expanded-details {
    grid-template-rows: 1fr 20%;
}

.stat-block {
    padding: 10px;
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    border-radius: 10px;
    color: black;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      );
}

@media (min-width: 768px) {
    .container {
        /* grid-auto-flow: column; */
        grid-template-columns: 1fr 1fr;
        gap: 3em;
    }
}

.individual{
    float: left;
    width: 40%;
    padding: 5px;
}