<div class="br">
  <head>
    <meta charset="UTF-8" />
  </head>
  <p class="title" style="color: white">
    Using your intellect, intuition, and inability to quit Fantasy Football,
    help us take rankings back from the Pros! Vote for the player you'd rather
    have on your team for the rest of the 2023 Fantasy Season by clicking their
    portrait. When you're done, check our rankings to see what your peers think!
  </p>
  <body>
    <div class="background">
      <div class="container">
        <div *ngFor="let c of combatPair; let i = index">
          <div
            class="player-card"
            [class.expanded-details]="showDetailsToggled"
            [ngStyle]="{ 'background-color': getTeamColor(c.team) }"
          >
            <div
              class="click-area"
              (click)="Vote(combatPair, c.playerId)"
            ></div>

            <div class="face">
              <div
                class="image-container"
                [ngStyle]="{ 'background-color': getTeamColor(c.team) }"
              >
                <img
                  id="portrait"
                  src="https://www.fantasynerds.com/images/nfl/players_large/{{
                    c.playerId
                  }}.png"
                  alt="{{ c.name }} photo"
                />
              </div>

              <span class="name">{{ c.name }}</span>
              <!-- player icons go here -->
              <!-- <div class="icons"><span>&#x2b50; &#x26a1;</span></div> -->
            </div>
            <div class="info">
              <dl class="categories">
                <dt>Position</dt>
                <dd>{{ c.position }}</dd>
                <dt>Team</dt>
                <dd>{{ c.team }}</dd>
                <dt>Rank</dt>
                <dd>{{ c.rank }}</dd>
                <dt>Matches:</dt>
                <dd>{{ c.matches | number : "1.0-0" }}</dd>
                <dt>Wins:</dt>
                <dd>{{ c.votes | number : "1.0-0" }}</dd>
                <!-- <dt>Win Percentage:</dt>
            <dd>{{ c.winPercent }}</dd> -->
              </dl>
            </div>
            <!-- </div> -->
            <div class="expanded-container">
              <button
                class="toggleDetails"
                (mouseover)="onButtonHover($event, i)"
                (mouseout)="onButtonMouseOut($event)"
                (click)="onButtonClick($event, i)"
                [ngStyle]="{ 'background-color': getTeam2ndColor(c.team) }"
                [ngClass]="{
                  active: c.showDetails[i],
                  'lighten-on-hover': isButtonHovered
                }"
                attr.data-index="{{ i }}"
              >
                Rest of Season Projections
              </button>
              <div class="stat-block" *ngIf="c.showDetails[i]">
                <app-player-detail
                  [combatplayer]="c"
                  [hideOnVotingExpand]="true"
                ></app-player-detail>
                <!-- <app-player-detail [combatplayer]="c"  [hidePortrait]="true" [playerDetail] -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="instructions">
        <p>
          Choose the player you'd rather roster for the rest of the 2024
          Fantasy Season.
        </p>
        <p>
          If you're on the fence, click on our Rest of Season Projections for
          more information.
        </p>
        <p>
          When you're done, check out how your picks line up with The People's
          Rankings!
        </p>
      </div>
    </div>
  </body>
</div>
