<app-news></app-news>

<div class="container">
  <div class="add-container">
    <h1 class="whatever" style="color: aliceblue">Top Adds This Week</h1>
    <div class="card" *ngFor="let h of list.most_added; index as i">
      <div
        #playerCard
        class="player-card"
        [ngStyle]="{ 'background-color': getTeamColor(h.team) }"
      >
        <span class="title">{{ [i + 1] }}. {{ h.name }}</span>
        <div class="team">
          <dl>
            <dt>Team</dt>
            <dd>{{ h.team }}</dd>
          </dl>
        </div>
        <div class="position">
          <dl>
            <dt>Position</dt>
            <dd>{{ h.position }}</dd>
          </dl>
        </div>
        <img
          class="portrait"
          src="https://www.fantasynerds.com/images/nfl/players_large/{{
            h.playerId
          }}.png"
        />
      </div>
    </div>
  </div>
  <div class="drop-container">
    <h1 class="whatever" style="color: aliceblue">Top Drops This Week</h1>
    <div class="card" *ngFor="let h of list.most_dropped; index as i">
      <div
        #playerCard
        class="player-card"
        [ngStyle]="{ 'background-color': getTeamColor(h.team) }"
      >
        <div class="title">
          <span>{{ [i + 1 ]  }}. {{ h.name }}</span>
        </div>
        <div class="team">
          <dl>
            <dt>Team</dt>
            <dd>{{ h.team }}</dd>
          </dl>
        </div>
        <div class="position">
          <dl>
            <dt>Position</dt>
            <dd>{{ h.position }}</dd>
          </dl>
        </div>
        <img
          class="portrait"
          src="https://www.fantasynerds.com/images/nfl/players_small/{{
            h.playerId
          }}.png"
        />
      </div>
    </div>
  </div>
</div>
