<app-news></app-news>
<h1 class="whatever" style="color: aliceblue">Top Adds this Week</h1>
<div class="container">
  <div class="card" *ngFor="let h of list.most_added">
    <div #playerCard
      class="player-card"     
      [ngStyle]="{ 'background-color': getTeamColor(h.team) }">

      <span class="player-name">{{ h.name }}</span>
      <div class="team">
        <dl>
          <dt >Team</dt>
          <dd>{{ h.team }}</dd>
        </dl>
      </div>
      <div class="position">
        <dl>
          <dt>Position</dt>
          <dd>{{ h.position }}</dd>
        </dl>
      </div>
      <img class="portrait"
      src="https://www.fantasynerds.com/images/nfl/players_small/{{
        h.playerId
      }}.png"
      />
    </div>
  </div>
</div>
<br>
<br>
<h5 class="t2"></h5>
<h1 class="whatever" style="color: aliceblue">Most dropped this Week</h1>
<div class="container">
  <div class="card" *ngFor="let h of list.most_dropped">
    <div #playerCard
      class="player-card"     
      [ngStyle]="{ 'background-color': getTeamColor(h.team) }">
    <span class="player-name">{{ h.name }}</span>
    <div class="team">
      <dl>
        <dt >Team</dt>
        <dd>{{ h.team }}</dd>
      </dl>
    </div>
    <div class="position">
      <dl>
        <dt>Position</dt>
        <dd>{{ h.position }}</dd>
      </dl>
    </div>
    <img class="portrait"
      src="https://www.fantasynerds.com/images/nfl/players_small/{{
        h.playerId
      }}.png"
    />
    </div>
  </div>
</div>
