<app-news></app-news>
<h1>Team Defenses vs. Individual Positions</h1>
<div class="table-container">
  <!-- QB Table -->
  <div class="qb-table">
    <button class="table-caption" (click)="toggleTable('qb')">
      Quarterbacks
    </button>
    <table class="t1" *ngIf="!tableHidden['qb']">
      <tr>
        <th>Team</th>
        <th>Rank</th>
      </tr>
      <tr *ngFor="let i of notlist.qb">
        <td>{{ i.team }}</td>
        <td>{{ i.ranks.std }}</td>
      </tr>
    </table>
  </div>

  <!-- RB Table -->
  <div class="rb-table">
    <button class="table-caption" (click)="toggleTable('rb')">
      Running Backs
    </button>
    <table class="t1" *ngIf="!tableHidden['rb']">
      <caption>
        Running Back
      </caption>
      <tr>
        <th>Team</th>
        <th>Rank</th>
      </tr>
      <tr *ngFor="let i of notlist.rb">
        <td>{{ i.team }}</td>
        <td>{{ i.ranks.std }}</td>
      </tr>
    </table>
  </div>

  <!-- WR Table -->
  <div class="wr-table">
    <button class="table-caption" (click)="toggleTable('wr')">
      Wide Receivers
    </button>
    <table class="t1" *ngIf="!tableHidden['wr']">
      <caption>
        Wide Receiver
      </caption>
      <tr>
        <th>Team</th>
        <th>Rank</th>
      </tr>
      <tr *ngFor="let i of notlist.wr">
        <td>{{ i.team }}</td>
        <td>{{ i.ranks.std }}</td>
      </tr>
    </table>
  </div>

  <!-- TE Table -->
  <div class="te-table">
    <button class="table-caption" (click)="toggleTable('te')">
      Tight Ends
    </button>
    <table class="t1" *ngIf="!tableHidden['te']">
      <tr>
        <th>Team</th>
        <th>Rank</th>
      </tr>
      <tr *ngFor="let i of notlist.te">
        <td>{{ i.team }}</td>
        <td>{{ i.ranks.std }}</td>
      </tr>
    </table>
  </div>
</div>
