
<h2>How does this team rank against Position</h2>
<h1> Quarter Back </h1>
<table>
  <tr>
    <th style="color: white;">Team</th>
    <th style="color: white;">Rank</th>     
   
  </tr>
  <tr *ngFor="let i of notlist.qb">
    <td style="color: white;">{{i.team}}</td>
    <td style="color: white;">{{i.ranks.std}}</td>  
             
  </tr>
</table>
<h2>How does this team rank against Position</h2>
<h1> Quarter Back </h1>
<table>
  <tr>
    <th style="color: white;">Team</th>
    <th style="color: white;">Rank</th>     
    
  </tr>
  <tr *ngFor="let i of notlist.rb">
    <td style="color: white;">{{i.team}}</td>
    <td style="color: white;">{{i.ranks.std}}</td>  
           
  </tr>
</table>
<h2>How does this team rank against Position</h2>
<h1> Quarter Back </h1>
<table>
  <tr>
    <th style="color: white;">Team</th>
    <th style="color: white;">Rank</th>     
    
  </tr>
  <tr *ngFor="let i of notlist.wr">
    <td style="color: white;">{{i.team}}</td>
    <td style="color: white;">{{i.ranks.std}}</td>  
             
  </tr>
</table>
<h2>How does this team rank against Position</h2>
<h1> Quarter Back </h1>
<table>
  <tr>
    <th style="color: white;">Team</th>
    <th style="color: white;">Rank</th>     
    
  </tr>
  <tr *ngFor="let i of notlist.te">
    <td style="color: white;">{{i.team}}</td>
    <td style="color: white;">{{i.ranks.std}}</td>  
             
  </tr>
</table>