.container {
  display: grid;
  grid-auto-flow: row;
}


.title {
  place-self: center;
  width: 70%;
  background-image: linear-gradient(
    rgba(0,0,0, 0.7),
    rgba(0,0,0, 0.7)
  );
  border-radius: 10px;
  padding-block: 10px;
}

.table-container {
  display: grid;
  gap: 0.5rem; 
  grid-template-columns: 1fr; 
  margin: 0 auto;
  width: 70%;
}

.table-caption {
  display: block;
  background-color: rgba(0, 0, 0, 0.85);  /* Some color to distinguish the button */
  color: #fff;
  border: none;
  width: 100%;
  text-align: center;
  cursor: pointer; 
  padding: 10px 0;
  font-size: 1.2em;
  margin-bottom: 0px;  
  transition: background-color 0.3s;
}

.table-caption:active {
  background-color: #ffa500; 
  background-image: linear-gradient(
    rgba(0,0,0, 0.1),
    rgba(0,0,0, 0.1)
  );
  transform: scale(1.005);
}

button {
  display: block;
  margin: 1em 0;
  padding: 0.5em 1em;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  
}

button:hover {
  background-color: #ffa500;
  color: #fff;
  transform: scale(1.01);
}

table {
  width: 100%;
}

.table-body {
  margin: 0;
  padding: 0;
}

td {
  padding: 10px;
  text-align: center;
  border: 1px solid;
  background-color: rgba(255, 255, 255, .8);
  font-size: 1.25rem;
}

th {
  padding: 10px;
  background-color: rgba(255, 255, 255, .8);
  color: #000;
  text-align: center;
  font-size: 1.125rem;
}

th.left-header {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  
}

th.right-header {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
 
}

/* method to make cells alternate light and dark backgrounds, before secondary team colors implemented */
 /* tr:nth-of-type(2n) {
  background-color: rgba(255, 255, 255, .1);
} */

td.team {
  background-image: linear-gradient(
    rgba(0,0,0, 0.3),
    rgba(0,0,0, 0.3)
  );
  border-left: none;
  color: #fff;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  font-weight: 600;
}

td.rank {
  background-image: linear-gradient(
    rgba(255,255,255, 0.9),
    rgba(255,255,255, 0.9)
  );
  font-size: 1.25rem;
  font-weight: 600;
  border-right: none;
  border-color: #fff;
}

h1 {
  color: white;
    text-align: center;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
}

caption {
  color: transparent;
}

@media (min-width: 45em) {
  .table-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 4em;
    width: 90%
  }

  .table-container table {
    display: table; 
  }

  .table-caption {
    color: #fff;
    background-color: transparent;
    background-image: linear-gradient(
    rgba(0,0,0, 0.8),
    rgba(0,0,0, 0.8)
  );
    cursor: default; /* makes caption non-clickable */
  }

  button {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  button:hover, button:active {
    background-color: #fff;
    color: #fff;
  }

}