
    <h2 style="color: white;">Admin Add Player</h2>
<p>playerId</p>
<input type="text" [(ngModel)]="f.playerId" />
<p>name</p>
<input type="text" [(ngModel)]="f.name" />
<p>team</p>
<input type="text" [(ngModel)]="f.team" />
<p>position</p>
<input type="text" [(ngModel)]="f.position" />
<p>votes</p>
<input type="number" [(ngModel)]="f.votes" />
<p>matches</p>
<input type="number" [(ngModel)]="f.matches" />
<p>rank</p>
<input type="number" [(ngModel)]="f.rank" />
<button (click)="CreateFantasyFolk()">Add</button>
