* {
  margin: 0 px;
  padding: 0px;
}
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("https://scontent.fdet1-2.fna.fbcdn.net/v/t39.30808-6/378139913_10231747787619794_5474116909620505237_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=49d041&_nc_ohc=dwWqfazSF9cAX9ejzn6&_nc_ht=scontent.fdet1-2.fna&oh=00_AfD80iB674WyBWlDASvghMl8cBNvrCSd5Ry8a0yGc-DLtQ&oe=651012CE");
  background-size: cover;
}

