/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  background-image: url("https://img.freepik.com/free-vector/realistic-american-footbal-field_23-2148806943.jpg?w=2000&t=st=1695247318~exp=1695247918~hmac=c647926a2566f1c7e9111cf6e5f2ad5ad7bfe546689c7e29ac454de934c19b09")
}
