* {
  margin: 0 px;
  padding: 0px;
}
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body::before {
  /* width: 100vw; */
  /* height: 100vh; */
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("https://i.imgur.com/PFQs14m.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment:fixed;
  filter: blur(1.5px);
  -webkit-filter: blur(1.5px);
  
}
body {
  background: none;
}
.scroll-left {
  height: 50px;	
  overflow: hidden;
  position: relative;
  background:black;
  color: white;
  border: 1px solid orange;
  font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;


}
.scroll-left ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  animation: scroll-left 30s linear infinite;
}
.scroll-left li {
  flex: 0 0 auto;
  margin-right: 75px; /* Add some spacing between articles */
}
 /* Move it (define the animation) */
 @keyframes scroll-left {
  0%   {
  transform: translateX(100%); 		
  }
  100% {
  transform: translateX(-100%); 
  }
 }

:root {
  --team-color-ARI: #97233F;
  --team-color-ATL: #A71930;
  --team-color-BAL: #241773;
  --team-color-BUF: #00338D;
  --team-color-CAR: #0085CA;
  --team-color-CIN: #FB4F14;
  --team-color-CHI: #0B162A;
  --team-color-CLE: #311D00;
  --team-color-DAL: #003594;
  --team-color-DEN: #FB4F14;
  --team-color-DET: #0076B6;
  --team-color-GB: #203731;
  --team-color-HOU: #03202F;
  --team-color-IND: #002C5F;
  --team-color-JAC: #101820;
  --team-color-KC: #E31837;
  --team-color-LAC: #0080C6;
  --team-color-LAR: #003594;
  --team-color-LV: #000000;
  --team-color-MIA: #008E97;
  --team-color-MIN: #4F2683;
  --team-color-NE: #002244;
  --team-color-NO: #D3BC8D;
  --team-color-NYG: #0B2265;
  --team-color-NYJ: #125740;
  --team-color-PHI: #004C54;
  --team-color-PIT: #FFB612;
  --team-color-SF: #AA0000;
  --team-color-SEA: #69BE28;
  --team-color-TB: #D50A0A;
  --team-color-TEN: #0C2340;
  --team-color-WAS: #5A1414;
}
