<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a style="color: white;" class="navbar-brand" [routerLink]="['/']">Fantasy_Football</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a style="color: white;" class="nav-link text-white" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/crowdsource']"
              >Crowd Source</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/top100']"
              >Top 100</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/adddrop']"
              >Hot Cold</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/defrank']"
              >Defensive Ranking Vs Position</a
            >
          </li>
          <li class="nav-item">
            <!-- Below is the custom login component. -->
            <asl-google-signin-button
              *ngIf="!loggedIn"
              type="icon"
              size="medium"
            ></asl-google-signin-button>
            <!-- Calls the log out method from the notes -->
            <button
              class="btn btn-outline-dark"
              *ngIf="loggedIn"
              (click)="signOut()"
            >
              Sign Out
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
