*{
  z-index: 2;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.mobile-nav-toggle {
  display: none;
}

.logo {
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.header {
  align-items: center;
  justify-content: space-between;
  
}

.navigation {
  --gap: 2rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  list-style: none;
  padding-block: 1.5rem;
  padding-inline: clamp(1rem, 10vw, 5rem);
  margin-block: 20px;
  background: hsl(0 0% 100% / .08);
  backdrop-filter: blur(2.5rem);
  -webkit-backdrop-filter: blur(2.5rem);
}

a {
  text-decoration: none;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.logo {
  width:100px;
}

html {
  font-size: 14px;
}

@media (max-width: 35em) {
 .navigation {
  --gap: 1.5em;

  font-size: 1.25em;

  position: fixed;
  z-index: 1000;
  inset: 0 0 0 30%;

  flex-direction: column;
  padding: min(30vh, 10rem) 2em;
  margin: 0;

  transform: translateX(100%);
  transition: transform 350ms ease-out;

  background: hsl(0 0% 100% / .08);
  backdrop-filter: blur(2.5rem);
  -webkit-backdrop-filter: blur(2.5rem);
 }

.navigation[data-visible='true'] {
  transform: translateX(0%);
}

.mobile-nav-toggle {
  display: block;
  position: absolute;
  z-index: 9999;
  width: 3rem;
  border: 0;
  border-radius: 0;
  background: inherit;
  aspect-ratio: 1;
  top: 2rem;
  right: 2rem;
}

.mobile-nav-toggle[aria-expanded="true"] .close-icon {
  display: inline-block;
}


.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

} 
/* end of media query */
