<header>
  <nav
  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3"
  >
  
  <div class="container">
    <a style="color: white;" class="navbar-brand" [routerLink]="['/']"></a>
    <button
    class="navbar-toggler"
    type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
        >
        <span class="navbar-toggler-icon"></span>
      </button>
      

      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <img alt="FantasyBros logo" class='logo' src="https://i.imgur.com/Y7xAeNn.png">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a style="color: white;" class="nav-link text-white" [routerLink]="['/']">Vote</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/crowdsource']"
              >The People's Rankings</a
            >
          </li>
          <li *ngIf="loggedIn" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/watchlist']"
              >My Watchlist</a
            >
          </li>
          
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/adddrop']"
              >Top Adds/Drops</a
            >
          </li>
          
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/defrank']"
            >DEF Ranking Vs Position</a
            >
          </li>
      
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/top100']"
            >Pre-Draft Rankings</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/FAQ']"
            >FAQs</a
            >
          </li>
          <li *ngIf="yesAdmin" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/admin']"
            >Admin</a
            >
          </li>


          
          <li style="color: white" class="nav-item">
            <!-- Below is the custom login component. -->
            <asl-google-signin-button
            *ngIf="!loggedIn"
            type="icon"
            size="medium"
            ></asl-google-signin-button>
            <!-- Calls the log out method from the notes -->
            <button
            class="btn btn-outline-light"
            *ngIf="loggedIn"
              (click)="signOut()"
              >
              Sign Out
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- <div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Right-aligned menu
  </button>
  <ul class="dropdown-menu dropdown-menu-end">   
    <li><a class="dropdown-item" href="/watchlist">/My Watchlist</a></li>
    <li><a class="dropdown-item" href="/crowdsource">/The People's Ranking</a></li>
    <li><a class="dropdown-item" href="/adddrop">/Top Adds/Drops</a></li>
    <li><a class="dropdown-item" href="/top100">Pre-Draft Rankings</a></li>
    <li><a class="dropdown-item" href="/defranking">Defense Ranking vs Individual Players</a></li>
    <li><a class="dropdown-item" href="/FAQ">/FAQ</a></li>
  </ul>
</div> -->
