<div style="color: white;">
<h1>Rest of Season Projections</h1>
<br>
<p>Name: {{Flex.name}}</p>
<p>Team: {{Flex.team}}</p>
<p>Position: {{Flex.position}}</p>
<p>Rush Att: {{Flex.rushing_attempts}}</p>
<p>Rush Yds: {{Flex.rushing_yards}}</p>
<p>Rush TDs: {{Flex.rushing_touchdowns}}</p>
<p>Fumbles: {{Flex.fumbles}}</p>
<p>Receptions: {{Flex.receptions}}</p>
<p>Targets: {{Flex.targets}}</p>
<p>Rec Yds: {{Flex.receiving_yards}}</p>
<p>Rec Tds: {{Flex.receiving_touchdowns}}</p>
<p>Projected Fantasy Points: {{Flex.proj_pts}}</p>
<p><img src="https://www.fantasynerds.com/images/nfl/players_large/{{Flex.playerId}}.png"/></p>
</div>
<!-- <p>Name: {{Quarterback.name}}</p>
<p>Team: {{Quarterback.team}}</p>
<p>Position: {{Quarterback.position}}</p>
<p>Pass Att: {{Quarterback.passing_attempts}}</p>
<p>Completions: {{Quarterback.passing_completions}}</p>
<p>Pass Yds: {{Quarterback.passing_yards}}</p>
<p>Pass TDs: {{Quarterback.passing_touchdowns}}</p>
<p>INTs: {{Quarterback.passing_interceptions}}</p>
<p>Rush Att: {{Quarterback.rushing_attempts}}</p>
<p>Rush Yds: {{Quarterback.rushing_yards}}</p>
<p>Rush TDs: {{Quarterback.rushing_touchdowns}}</p>
<p>Projected Fantasy Points: {{Quarterback.proj_pts}}</p> -->