<div class="pd">
  <div id="dataContainer">
  <div class="playerInfo" *ngIf="DisplayFlex == true && !hideOnVotingExpand">
    <h1>Rest of Season Projections</h1>
    <p>Name: {{ Flex.name }}</p>
    <p>Team: {{ Flex.team }}</p>
    <p>Position: {{ Flex.position }}</p>
  </div>
  <div class="statBlock" *ngIf="DisplayFlex == true && DisplayQB == false">
    <p class="bold">Per Game</p>
    <p>Rush Att: {{ GetNumber(Flex.rushing_attempts) / divider | number:'1.0-1'}}</p>
    <p>Rush Yds: {{ GetNumber(Flex.rushing_yards) / divider | number:'1.0-1'}}</p>
    <p>Rush TDs: {{ GetNumber(Flex.rushing_touchdowns) / divider | number:'1.0-1'}}</p>
    <p>Fumbles: {{ GetNumber(Flex.fumbles) / divider | number:'1.0-1'}}</p>
    <p>Receptions: {{ GetNumber(Flex.receptions) / divider | number:'1.0-1'}}</p>
    <p>Targets: {{ GetNumber(Flex.targets) / divider | number:'1.0-1'}}</p>
    <p>Rec Yds: {{ GetNumber(Flex.receiving_yards) / divider | number:'1.0-1'}}</p>
    <p>Rec Tds: {{ GetNumber(Flex.receiving_touchdowns) / divider | number:'1.0-1'}}</p>
    <p>Projected Fantasy Points (STD): {{ GetNumber(Flex.proj_pts) / divider | number:'1.0-1'}}</p>
  </div>
  <!-- <div *ngIf="!hideOnVotingExpand"><img [src]="portraitUrl + Flex.playerId + '.png'" alt="{{Flex.name}} player portrait"> -->
  <div *ngIf="!hideOnVotingExpand">
    <img
      src="https://www.fantasynerds.com/images/nfl/players_large/{{
        Flex.playerId
      }}.png"
      alt="{{ Flex.name }} player portrait"
    />
  </div>
</div>
<div>
  <div class="playerInfo" *ngIf="DisplayQB == true && !hideOnVotingExpand">
    <p>Name: {{ Quarterback.name }}</p>
    <p>Team: {{ Quarterback.team }}</p>
    <p>Position: {{ Quarterback.position }}</p>
  </div>
  <div class="statBlock" *ngIf="DisplayFlex == false && DisplayQB == true">
    <p class="bold">Per Game</p>
    <p>Pass Att: {{ GetNumber(Quarterback.passing_attempts) / divider | number:'1.0-1'}}</p>
    <p>Completions: {{ GetNumber(Quarterback.passing_completions) / divider | number:'1.0-1'}}</p>
    <p>Pass Yds: {{ GetNumber(Quarterback.passing_yards) / divider | number:'1.0-1'}}</p>
    <p>Pass TDs: {{ GetNumber(Quarterback.passing_touchdowns) / divider | number:'1.0-1'}}</p>
    <p>INTs: {{ GetNumber(Quarterback.passing_interceptions) / divider | number:'1.0-1'}}</p>
    <p>Rush Att: {{ GetNumber(Quarterback.rushing_attempts) / divider | number:'1.0-1'}}</p>
    <p>Rush Yds: {{ GetNumber(Quarterback.rushing_yards) / divider | number:'1.0-1'}}</p>
    <p>Rush TDs: {{ GetNumber(Quarterback.rushing_touchdowns) / divider | number:'1.0-1'}}</p>
    <p>Projected Fantasy Points: {{ GetNumber(Quarterback.proj_pts) / divider | number:'1.0-1'}}</p>
    <!-- <p *ngIf="yesAdmin && loggedIn"> Weeks Remaining:<input type="number" id="dividerInput" [(ngModel)]="divider" />  </p> -->
  </div>
  <img
    *ngIf="!hideOnVotingExpand"
    src="https://www.fantasynerds.com/images/nfl/players_large/{{
      Quarterback.playerId
    }}.png"
  />
</div>
</div>
