<h1>Rest of Season Projections</h1>
<br>
<p>Name: {{Flex.name}}</p>
<p>Team: {{Flex.team}}</p>
<p>Position: {{Flex.position}}</p>
<p>Rush Att: {{Flex.rushing_attempts}}</p>
<p>Rush Yds: {{Flex.rushing_yards}}</p>
<p>Rush TDs: {{Flex.rushing_touchdowns}}</p>
<p>Fumbles: {{Flex.fumbles}}</p>
<p>Receptions: {{Flex.receptions}}</p>
<p>Targets: {{Flex.targets}}</p>
<p>Rec Yds: {{Flex.receiving_yards}}</p>
<p>Rec Tds: {{Flex.receiving_touchdowns}}</p>
<p>Projected Fantasy Points: {{Flex.proj_pts}}</p>
