body {
  font-family: 'montserrat', 'helvetica', sans-serif;
}

.container {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  gap: 2em;
  margin: 1em 0 0 1em;
  padding: 0 10px
}

.card {
  height: auto;
  width: 90%;
  margin-right: 0.5em;
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: minmax(20px, 30px) minmax(2em, 3em) minmax(150px 250px) minmax(2em, 3em);
  grid-template-areas:
  "rank rank rank rank rank watchlist"
  "name name name name name name"
  "photo photo photo photo photo photo"
  "team team . position position" "delete";
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
  border-radius: 10px;
}

.rank {
  grid-area: rank;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 6;
  grid-row-end: 2;
  padding: 10px 0 10px 0;
  margin: 0 0 0 10px;
  font-size: 2em;
  font-weight: 500;
}

.watch-list {
  grid-area: watch-list;
  grid-column-start: 6;
  grid-row-start: 1;
  grid-column-end: 7;
  grid-row-end: 2;
  display: grid;
  margin-top: 5px;
}

.watch-list-button {
  height: 50%;
  width: 100%;
  margin-top: 5px;
  margin-right: 15px;
  padding: 0px;
  border: 2px solid transparent;
  border-radius: 8px;
  align-self: start;
  justify-self: center;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  color: #ffffff;
}

.watch-list-button:active {
  transform: scale(0.95);
}

.name {
  grid-area: name;
  grid-column-start: 1;
  grid-row-start: 2;
  grid-column-end: 7;
  grid-row-end: 3;
  margin: 0 0 0 10px;
  padding: 0;
  font-weight: 600;
  font-size: 1.75em;
  letter-spacing: .05px;
}

.photo {
  grid-area: photo;
  grid-column-start: 1;
  grid-row-start: 3;
  grid-column-end: 7;
  grid-row-end: 4;
  padding: 0 15px 0 10px;
}

.photo-frame {
  border-radius: 10px;
  background-image: linear-gradient(
  rgba(255, 255, 255, 0.8),
  rgba(255, 255, 255, 0.8)
);
}

.portrait {
  padding: 0;
  margin: 0;
  /* object-fit and object-position are to crop out the excess whitespace on the right edge of player photos from the API*/
  object-fit: cover;
  /* object-position: 40% center; */
  width: 90%;
}

.team {
  grid-area: team;
  grid-column-start: 1;
  grid-row-start: 4;
  grid-column-end: 3;
  grid-row-end: 5;
  font-size: 1.25em;
  display: grid;
  margin-left: 15px;
  margin-bottom: 10px;
  padding: 10px 0;
}

.position {
  grid-area: position;
  grid-column-start: 4;
  grid-row-start: 4;
  grid-column-end: 6;
  grid-row-end: 5;
  display: grid;
  font-size: 1.25em;
  margin-bottom: 10px;
  padding: 10px 0;
}

.delete {
  grid-area: delete;
  grid-column-start: 6;
  grid-row-start: 4;
  grid-column-end: 7;
  grid-row-end: 5;
  display: grid;
  margin: 5px;
}

.delete-button {
  height: 2em;
  width: 2em;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 0px;
  padding: 5px;
}

.delete-button:hover path {
  fill: red;
  transform: scale(1.05);
}

dt.name, dt.rank {
  display: none;
}

.button1{
  background-color: rgb(64, 202, 0);
  border-radius: 15%;
  color: white;
  padding: 5px 15px;
  border: 2px solid black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

@media (min-width: 35em)
{
  .container {
    grid-template: repeat(3, 1fr);
  }

  .card {
    width: 100%;
  }
}
@media (min-width: 35em) {
  .container {
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5em;
      margin: 2em 0;
      padding: 0;
  }

  /* desktop media query for card */
  .card {
    height: auto;
    width: auto; 
    grid-template-rows: minmax(1.5em, 30px) minmax(80px, 4.5em) minmax(150px 400px) minmax(1.5em, 2.5em)
  }

  .rank {
    padding-bottom: 0;
  }

  .name {
    font-size: max(1.25em)
  }

  .watch {
    padding: 5px;
    display: grid;
  }

  .watch-list-button {
    align-self: start;
    justify-self: center;
    height: auto;
    margin-right: 15px;
    padding-block: 5px;
  }

  .team, .position {
    font-size: 1.25em;
    padding: 1em 0;
  }

  .delete-button {
    justify-self: end;
    align-self: end;
  }
}