<app-news></app-news>
<div class="container">
  <div class="card" *ngFor="let p of FF">
    <div class="rank">
      <span class="number">#{{ p.rank }} </span>
    </div>
    <div class="watch-list" >
      <!-- <button *ngIf="loggedIn" (click)="AddWatchlist(user.email, p)"> -->
      <button  (click)="AddWatchlist(user.email, p)">
        Watch
      </button>
    </div>
    <div class = "name">
      <span class="player-name">{{ p.name }}</span>
    </div>
    
    <div class="photo">
      <img
        class="portrait"
        src="https://www.fantasynerds.com/images/nfl/players_large/{{
          p.playerId
        }}.png"
        alt="{{ p.name }} photo"
      />
    </div>
    <div class="team">
      <dl>
        <dt>Team</dt>
        <dd>{{ p.team }}</dd>
      </dl>
    </div>
    <div class="position">
      <dl>
        <dt>Position</dt>
        <dd>{{ p.position }}</dd>
      </dl>
    </div>

    <!-- <div *ngIf="yesAdmin && loggedIn" class="delete"> -->
    <div class="delete">
    <button  (click)="DeleteFolk(p.id)">
      Delete
    </button>
  </div>
  </div>
</div>
