<app-news></app-news>
<div class="container">
  <div
    class="card"
    *ngFor="let p of FF; let i = index"
    [ngStyle]="{ 'background-color': getTeamColor(p.team) }"
  >
    <div class="rank">
      <span class="number">#{{ p.rank }} </span>
    </div>
    <div class="watch-list">
      <!-- for testing -->
      <!-- <button *ngIf="loggedIn" (click)="AddWatchlist(user.email, p)"> -->
      <button
        *ngIf="loggedIn"
        class="watch-list-button"
        (click)="AddWatchlist(user.email, p)"
        [style.background-color]="getTeamColor(p.team)"
        [style.transition]="'background-color 0.4s'"
        (mouseenter)="watchButtonHovered[i] = true; onWatchButtonMouseEnter(i)"
        (mouseleave)="watchButtonHovered[i] = false; onWatchButtonMouseLeave(i)"
        [ngStyle]="{
          'background-image': watchButtonHovered[i]
            ? 'linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1))'
            : 'none',
          transform: watchButtonHovered[i] ? 'scale(1.05)' : 'scale(1)'
        }"
      >
        Watch
      </button>
    </div>
    <div class="name">
      <span class="player-name">{{ p.name }}</span>
    </div>
    <div class="photo">
      <div class="photo-frame">
        <img
          class="portrait"
          src="https://www.fantasynerds.com/images/nfl/players_large/{{
            p.playerId
          }}.png"
          alt="{{ p.name }} photo"
        />
      </div>
    </div>
    <div class="team">
      <dl>
        <dt>Team</dt>
        <dd>{{ p.team }}</dd>
      </dl>
    </div>
    <div class="position">
      <dl>
        <dt>Position</dt>
        <dd>{{ p.position }}</dd>
      </dl>
    </div>
    <!-- commented out code for testing -->
    <!-- <div *ngIf="yesAdmin && loggedIn" class="delete"> -->
    <div *ngIf="yesAdmin && loggedIn" class="delete">
      <div
        class="delete-button"
        (click)="DeleteFolk(p.id)"
        (mouseenter)="
          deleteButtonHovered[i] = true; onDeleteButtonMouseEnter(i)
        "
        (mouseleave)="
          deleteButtonHovered[i] = false; onDeleteButtonMouseLeave(i)
        "
      >
        <svg>
          fill="currentColor" viewBox="30 10 30 30"
          xmlns="http://www.w3.org/2000/svg" aria-hidden="true" >
          <path
            clip-rule="evenodd"
            fill-rule="evenodd"
            d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</div>
